

ul{
    list-style-type: circle;
    margin:20px; 
}

h1{
    font-size:30px;
    padding:20px;
}
h2{
    font-size:20px;
    padding:10px, 10px, 0px, 10px;
}

.data-text{
    font-family: Helvetica, sans-serif;
    color:rgb(19, 19, 20);
}
.regular-text{
    font-family:'Times New Roman', Times, serif;
    color:rgb(86, 89, 92)
}

.highlight-text{
    font-family: 'Quicksand', sans-serif;
    color:rgb(50, 31, 160)
}

body{
    background-color:salmon;
}

/* https://www.w3schools.com/css/css_table.asp */
table,th,td{
    border:1px solid black;
}

table{
    table-layout: fixed;
    width: 80%;
    margin: 0px 20px 20px 20px;
    background-color:pink;

}

th, td{
    width: 80px;
    text-align:center;
    vertical-align: middle;
    word-wrap: break-word;
}

header h1{
    font-size: 40px;
    text-align:center;
    display:block;
    margin:20px 50px;
    border: 3px double black;
}

header img{ 
    width:50%;
    height:auto;
    display:block;
    float:left;
    margin:20px;
}

header h2{
    text-decoration:underline;
}

a img{
    width: 30%;
    height:auto;
    margin:10px 50px;
    border-radius: 20px 70px 10px 60px;
    float:left;
    border: 2px solid black;
}

a.sales-page{
    text-align:left;
    /* float:left; */
}
a.sales-page img{
    width:10%;
    float:left;
    margin:20;
}


main.index h2{
    text-align:center;
    font-size: 40px;
    text-decoration: underline;
    margin:0px 200px;
}

main.index div section.location{
    border: 5px double black;
    float:left;
    margin:20px;
    width: 25%;
    background-color:pink;
}

main.index h3{
    text-align:center;
    font-size: 20px;
}

main.index ul{
    list-style-type: none;
}

main.index div img{
    float:left;
    width: auto;
    height: 150px;
    border: 2px solid black;
    margin: 2% 5% 2% 5%;
}

.family img{
    float: left;
    width:50%;
    height:auto;
    margin:10px 20px;
    border: 2px solid black;
}

#family-text{
    display:inline-block;
    font-size: 45px;
    border:5px double black;
    padding:40px;
    float:left;
    width:300px;
    margin:30px 10px;
    background-color:pink;
}

footer img{
    display: inline-block;
    /* margin-left:auto;
    margin-right:auto; */
    width: 60%;
    float:right;
    border: 2px solid black;
    margin: 0px 20px 20px 0px;
}

footer p{
    float:left;
    font-family: 'Quicksand', sans-serif;
    color:rgb(50, 31, 160);
    font-size:40px;
    width:300px;
    padding: 7px;
    margin:10px 0px 0px 60px;
    border: 5px double black;
    background-color:pink;

}

main.index div section p{
    border: 5px double black;
    font-size:40px;
    padding:40px;
    float:left;
    margin:40px;
    width: 25%;
    background-color:pink;
}

div.merch section img{
    width: 25%;
    height:auto;
    margin: 80px 20px 150px 20px;

}

.merch-text{
    font-size:30px;
    padding:0px;
    color:black;
}

fieldset{
    border:2px solid black;
    width:25%;
    margin:1%;
    padding:5px;
}

input {
    margin:2px;
    float:right;
    text-align:center;
}

label{
    float:left;
    margin:2px;
}

button{
    float:left;
    margin: 20px;
}

legend{
    background-color:rgb(182, 185, 189);
    border-radius:5px;
    border: 1px solid black;
}

h2.highlight-text {
    margin:20px;
    float:left;
    width:33%;
}

fieldset{
    background-color:purple;
}

label{
    color:silver;
}

footer h3{
    float:left;
    text-align:left;
    margin: 40px 0px 40px 30%;
    border:2px solid black;
    padding:30px;
    color:silver;
    background-color:purple;
    width:50%;
    font-size:20px;
}

main{
    margin-left:40px;
}