ul{
    list-style-type: circle;
    margin:20px; 
}

h1{
    font-size:30px;
    padding:20px;
}
h2{
    font-size:20px;
    padding:10px, 10px, 0px, 10px;
}

.data-text{
    font-family: Helvetica, sans-serif;
    color:rgb(41, 94, 192);
}
.regular-text{
    font-family:'Times New Roman', Times, serif;
    color:rgb(41, 192, 134)
}

.highlight-text{
    font-family: 'Quicksand', sans-serif;
    color:rgb(50, 31, 160)
}

body{
    background-color:salmon
}

/* https://www.w3schools.com/css/css_table.asp */
table,th,td{
    border:1px solid black;
}

table{
    table-layout: fixed;
    width: 80%;
}

th, td{
    width: 50px;
    text-align:center;
}